@import "./Variables.scss";

body {
  margin: 15px;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  font-family: $main-font;
}

.header {
  &__title {
    text-align: center;
  }
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-around;
  &__addBtn {
    margin-top: 2em;
    border: none;
    width: 120px;
    height: 40px;
    background-color: gold;
  }

  &__showBtn {
    margin-top: 2em;
    border: none;
    width: 120px;
    height: 40px;
    background-color: gold;
    margin-bottom: 2em;
  }
}
.database {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.allEmployee {
  display: flex;
  border: solid 2px black;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0.5em 0.5em;
  padding: 0.5em 0.5em;
  border: solid 2px black;
  flex-direction: column;
  align-items: center;
  max-width: 259px;

  @media all and (min-width: 509px) {
    flex-direction: row;
    max-width: 1000px;
  }
  &__list {
    display: flex;
    padding-right: 4em;
  }
  &__details {
    font-weight: bold;
    list-style: none;
    @media all and (min-width: 509px) {
      min-width: 180px;
    }
    &--value {
      color: goldenrod;
    }
  }

  &__updatedList {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-right: 0.4em;

    @media all and (min-width: 509px) {
      flex-direction: column;
      align-items: flex-start;
    }
    &--updateBtn {
      border: none;
      width: 110px;
      height: 38px;
      background-color: gold;
      margin-top: 0.8em;
    }
  }
}
