$main-font: "Montserrat", sans-serif;
$second-family: "Open Sans", sans-serif;

$green: #64ffda;
$green-tint: rgba(100, 255, 218, 0.1);
$pink: #f57dff;
$blue: #57cbff;
$dark_orange: #e27d60;
$light_blue: #85dcba;
$light_orange: #e8a87c;
$light_purple: #c38d9e;
$dark_aqua: #41b3a3;
$white: white;
$black: black;
$dark_blue: #252934;

$grey: #d5d5d5;
$navy: #091353;
$purple: #9d84b7;
$teal: #b2f9fc;

.btn {
  margin-top: 2em;
  border: none;
  width: 150px;
  height: 40px;
  background-color: #bfa2db;
  margin-bottom: 2em;
  font-size: 1rem;
  border-radius: 5px;
  box-shadow: 2px 4px 10px $dark_blue;
  color: $navy;
  font-weight: bold;
}
.btn:hover {
  cursor: pointer;
  background-color: #85d6de;
}

.par {
  text-align: center;
  font-size: 1.4rem;
  max-width: 500px;
}

.title {
  font-size: 1.6rem;
  text-align: center;
}
